.a {
    text-align: center;
    margin: 50px;
    padding-top: 50px;
}

img {
    padding-left: 50px;
    ;
}

h1 {
    position: relative;
    bottom: 100px;
    left: 10px;
    font-size: 50px;
}

* {
    background-color: #96CEB4;
}

button {
    margin-top: 25px;
    margin-left: 25px;
    font-size: larger;
    color: brown;
    background-color: white;
}